@font-face {
    font-family: 'YuGothicUI-Bold';
    src: url('YuGothicUI-Bold.eot');
    src: url('YuGothicUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('YuGothicUI-Bold.woff2') format('woff2'),
        url('YuGothicUI-Bold.woff') format('woff'),
        url('YuGothicUI-Bold.ttf') format('truetype'),
        url('YuGothicUI-Bold.svg#YuGothicUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YuGothicUI-SemiBold';
    src: url('YuGothicUI-Semibold.eot');
    src: url('YuGothicUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('YuGothicUI-Semibold.woff2') format('woff2'),
        url('YuGothicUI-Semibold.woff') format('woff'),
        url('YuGothicUI-Semibold.ttf') format('truetype'),
        url('YuGothicUI-Semibold.svg#YuGothicUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'YuGothicUI';
    src: url('YuGothicUI-Regular.eot');
    src: url('YuGothicUI-Regular.eot?#iefix') format('embedded-opentype'),
        url('YuGothicUI-Regular.woff2') format('woff2'),
        url('YuGothicUI-Regular.woff') format('woff'),
        url('YuGothicUI-Regular.ttf') format('truetype'),
        url('YuGothicUI-Regular.svg#YuGothicUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YuGothic-Medium';
    src: url('YuGothic-Medium.eot');
    src: url('YuGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('YuGothic-Medium.woff2') format('woff2'),
        url('YuGothic-Medium.woff') format('woff'),
        url('YuGothic-Medium.ttf') format('truetype'),
        url('YuGothic-Medium.svg#YuGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
